<div class="container">
    <div class="row d-flex justify-content-center  ">
        <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid shadow-green animate-zoom" src="../../../assets/raw/washHands.svg " alt=" ">
        </div>
        <div class="col-md-12 my-3">
            <h2 class="h1 text-center mt-5 ">Wear <span style="color: rgb(187, 230, 0); ">Mask </span>and wash your <span style="color: rgb(11, 204, 230); ">Hands</span></h2>
            <p class="h6">Washing your hand frequently is a better way to prevent the pandemic</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center ">
        <div class="col-md-12 d-flex justify-content-center my-5">
            <img class="img-fluid shadow-blue animate-zoom " src="../../../assets/raw/distance.svg " alt=" ">
        </div>
        <div class="col-md-12 my-3 ">
            <h2 class="h1 text-center ">Maintain <span style="color: rgb(241, 59, 53); ">Distance </span> and use <span style="color: rgb(0, 139, 231); ">Mask</span> outside </h2>
            <p class="h6 ">Wherever we work or go, we should wear a mask.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-5">
        <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid shadow-yellow animate-mover " src=" ../../../assets/raw/WFH2.svg " alt=" ">
        </div>
        <div class="col-md-12  my-3">
            <h2 class="h1 text-center ">Stay at <span style="color: rgb(0, 174, 255); ">Home</span> and do <span style="color: rgb(96, 221, 12); ">Workout</span></h2>
            <p class="h6 ">Having some workout and taking healthy meal will also help you to avoid the pandemic situation.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center ">
        <div class="col-md-12 d-flex justify-content-center my-5">
            <img class="img-fluid shadow-blue animate-mover " src="../../../assets/raw/safeFamily.svg " alt=" ">
        </div>
        <div class="col-md-12 my-3 ">
            <h2 class="h1 text-center ">You have to <span style="color: rgb(89, 233, 45); ">Fight </span> against <span style="color: rgb(231, 0, 0); ">Covid 19</span> unitedly </h2>
            <p class="h6 ">One should aware of all the deadliest activities for covid 19 and the rumours</p>
        </div>
    </div>



</div>