.row {
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    max-width: 16rem;
    align-items: center;
    h2 {
        font-size: 50px;
        color: rgba(255, 255, 255, 0.795);
    }
    h6 {
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    border-top: 2px solid rgba(255, 0, 64, 0.288);
    border-bottom: 2px solid rgba(250, 0, 62, 0.404);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.401);
    transition: 0.3s;
    &:hover {
        transform: scale(1.05);
        box-shadow: 8px 8px 11px rgba(255, 59, 131, 0.306);
    }
    justify-content: center;
}

.starter {
    max-width: 20rem;
    h3 {
        text-align: center;
        color: rgb(0, 117, 108);
        text-shadow: 2.4px 2.4px 10px rgba(168, 168, 168, 0.445);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 117, 108);
}

.cases {
    max-width: 20rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 50rem;
}

.up {
    color: #fc0054;
    font-size: 50px;
    position: absolute;
    top: 55%;
    right: 4px;
    filter: drop-shadow(5px 5px 15px rgba(255, 255, 255, 0.658));
}

.down {
    color: rgb(0, 163, 63);
    font-size: 50px;
    position: absolute;
    top: 55%;
    right: 4px;
    filter: drop-shadow(5px 5px 15px rgba(255, 255, 255, 0.658));
}