<div class="background"></div>
<div class="container main">
    <div class="container d-flex justify-content-center">
        <img class="img-fluid my-5 shadow-blue animate-mover" src="../../../assets/raw/oxygenleads.svg" alt="">
    </div>
    <div class="row">
        <div *ngIf="!form" class="col-md-12 my-3 d-flex justify-content-center ">
            <button (click)="toggleForm()" class="btn btn-secondary">Submit Leads</button>
        </div>
        <div *ngIf="form" class="col-md-12 d-flex justify-content-center ">
            <div class="card form col-12 ">
                <div class=" d-flex justify-content-center">
                    <h2>Details</h2>
                    <img src="../../../assets/raw/menucross.svg " alt="" class="icon" style="width: 16px; position:absolute;right:1.9rem" (click)="toggleForm()">
                </div>
                <div class="card-body w-100 ">
                    <form #myForm="ngForm" (submit)="onSubmit(myForm.value)">
                        <div class=" d-flex justify-content-center mb-3">
                            <div class="col-12">
                                <!-- <label for="name" class="form-label">Full Name: </label> -->
                                <input type="text" class="form-control " id="name" placeholder="Name" name="name" ngModel>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <div class="col-12">
                                <!-- <label for="number" class="form-label">Contact Number: </label> -->
                                <input type="telephone" class="form-control" id="contact" placeholder="+91 Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" ngModel name="contact">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <div class="col-12">
                                <!-- <label for="type" class="form-label">type : </label> -->

                                <div class="d-flex" id="type">
                                    <div class="col-2 form-check-label">
                                        Type
                                    </div>
                                    <div class="col-3 from-check d-flex justify-content-center">
                                        <input class="form-check-input" type="radio" name="type" id="male" value="Refiller" ngModel>
                                        <label class="form-check-label mx-1" for="male" checked>
                                            Refiller
                                        </label>
                                    </div>
                                    <div class="col-4 from-check d-flex justify-content-center">
                                        <input class="form-check-input" type="radio" name="type" id="female" value="Donator" ngModel>
                                        <label class="form-check-label mx-1" for="female">
                                          Donator
                                        </label>
                                    </div>
                                    <div class="col-3 from-check d-flex justify-content-center">
                                        <input class="form-check-input" type="radio" name="type" id="others" value="others" ngModel>
                                        <label class="form-check-label mx-1" for="others">
                                          Others
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <div class="col-12">
                                <label for="address" class="form-label">Location</label>
                                <textarea type="address" class="form-control" id="address" rows="2" name="address" placeholder="Address" ngModel></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-3">
                            <div class="col-12">
                                <label for="details" class="form-label">Extra Details</label>
                                <textarea type="text" class="form-control" id="details" rows="3" name="details" placeholder="Details" ngModel></textarea>
                            </div>
                        </div>
                        <div class="my-5 d-flex justify-content-center mb-3">
                            <button class="btn btn-secondary" type="submit">submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="container-fluid my-5">
    <div class="row d-flex justify-content-center">
        <h2 class="text-center">Contacts</h2>
        <div class=" card p-1 m-1 " *ngFor="let lead of leads">
            <div class="row  d-flex justify-content-center p-1">
                <div class="col-auto my-1">
                    <h2 class=" mt-2">{{lead.name}}</h2>
                    <h6>{{lead.contact}}</h6>
                </div>
                <div class="col-auto my-1">
                    <h6 class=" h6">{{lead.address}}</h6>
                    <h6 class=" h6">Type: {{lead.type}}</h6>
                    <p class=" mb-4 h6">Other Details: {{lead.details}}</p>
                </div>
            </div>
            <button class="btn btn-primary" (click)='callNow.click()'><a #callNow [href]="'tel:'+lead.contact"></a>Call now</button>
        </div>

    </div>
</div>