.img-fluid {
    width: 45rem;
    margin: 1rem;
}

.icon {
    width: 8rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.h-card {
    background-color: rgb(0, 126, 189);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 50rem;
    span {
        color: rgb(150, 150, 150);
    }
}

.float-img {
    position: fixed;
    top: 35rem;
    width: 20rem;
    z-index: -1;
}

.float-img2 {
    position: fixed;
    right: 10px;
    top: 10rem;
    width: 70rem;
    z-index: -2;
    animation-name: anim1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    scroll-behavior: auto;
    z-index: -2;
}

@keyframes anim1 {
    0% {
        top: 20rem
    }
    // 20% {
    //     top: 15rem
    // }
    // 40% {
    //     top: 20rem
    // }
    50% {
        top: 25rem
    }
    // 80% {
    //     top: 20rem
    // }
    100% {
        top: 20rem
    }
}