<img src="../../../assets/raw/background1.svg" alt="" class="background">
<div class="main container ">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img class="img-fluid my-5 " src="../../../assets/raw/insideHospital.svg" alt="">
        </div>
        <hr>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="card mb-4 m-auto" *ngFor="let list of lists">
            <!-- <img class="icon" src="../../../assets/raw/hospital2.svg"> -->
            <h2 class="text-center">{{list.name}}</h2>
            <h6>{{list.contact}}</h6>
            <h6 class="text-center">{{list.address}}
            </h6>
            <p>Pin: {{list.pin}}</p>
            <h6 class="text-center">{{list.h_type=="hsp"?'Hospital':'Nursing Home'}} </h6>
            <h6 class="badge bg-info w-50 mb-4 text-center text-white"> bed: {{list.bed_avil}}</h6>
            <button class="btn btn-primary" (click)='callNow.click()'><a #callNow [href]="'tel:'+list.contact"></a>Call now</button>
        </div>
    </div>
</div>