.background {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.3;
    z-index: -10;
}

.img-fluid {
    width: 45rem;
    margin: 1rem;
}

.icon {
    padding: 1rem;
    width: 8rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.card {
    cursor: pointer;
    margin: 1rem;
    padding: 0.7rem;
    max-width: 22rem;
    height: 15rem;
    align-items: center;
    h2 {
        font-weight: 600;
        font-size: 20px;
        color: rgb(63, 63, 63);
    }
    h6 {
        font-size: 16px;
        color: rgb(107, 107, 107);
    }
    border-top: 2px solid rgba(255, 0, 64, 0.288);
    border-bottom: 2px solid rgba(250, 0, 62, 0.404);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.401);
    transition: border-buttom 0.3s;
    transition: transform 0.4s;
    .card-header {
        background-color: rgb(255, 255, 255);
    }
}

.float-img {
    position: fixed;
    top: 35rem;
    width: 20rem;
    z-index: -1;
}

.float-img2 {
    position: fixed;
    right: 10px;
    top: 10rem;
    width: 70rem;
    z-index: -2;
    animation-name: anim1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@media only screen and(max-width: 624px) {
    .card {
        height: 12rem;
        h2 {
            font-weight: 600;
            font-size: 15px;
            color: rgb(63, 63, 63);
        }
        h6 {
            font-size: 12px;
            color: rgb(107, 107, 107);
        }
        border-top: 2px solid rgba(255, 0, 64, 0.288);
        border-bottom: 2px solid rgba(250, 0, 62, 0.404);
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.401);
        transition: border-buttom 0.3s;
        transition: transform 0.4s;
        .card-header {
            background-color: rgb(255, 255, 255);
        }
    }
}