<div class="main container">

    <div class=" row p-6 flex">
        <div class=" col-md-6  m-3 ">
            <div class="containe sec-1">
                <h1>Let's Fight Against <span style="color: rgb(255, 0, 72)">COVID-19</span> Together</h1>
                <p>Disclaimer: The users must understand that the data provided on this website is collected and verified by volunteers to the best of their ability. However we sincerely request the users to reverify and confirm the identity of any vendor
                    or service provider.</p>

            </div>
            <button class="btn btn-primary mx-3">Submit Leads</button>
        </div>

        <div class="col-md-5  sec-2 my-4 ">
            <img src="../../../assets/raw/FightTogether.png" alt="">
        </div>
    </div>

</div>