<div data-aos="zoom-in" class="main container">
    <div class=" row p-6 flex">
        <div class=" col-md-12   m-3 ">
            <div class="containe sec-1 text-center">
                <h1>Let's Fight Against <span style="color: rgb(255, 0, 0)">COVID-19</span> Together !</h1>
                <p>Disclaimer: The users must understand that the data provided on this website is collected and verified by volunteers to the best of their ability. However we sincerely request the users to reverify and confirm the identity of any vendor
                    or service provider.</p>
            </div>

        </div>

        <div class="col-md-12  sec-2 my-4 ">
            <img class="animate-mover" src="../../../assets/raw/familyVirus.svg" alt="">
        </div>
        <div class="col-md-12 d-flex justify-content-center my-4">
            <button class="btn btn-secondary mx-3" [routerLink]="['/newsfeed']" routerLinkActive="router-link-active" href="/newsfeed">Check Feeds</button>
        </div>
    </div>


</div>