.starter {
    h3 {
        text-align: center;
        color: rgb(253, 103, 103);
        text-shadow: 2.4px 2.4px 10px rgb(255, 174, 174);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(248, 139, 139);
}

.card {
    img {
        width: 5rem;
    }
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    max-width: 20rem;
    align-items: center;
    h3 {
        font-size: 20px;
        color: rgba(158, 158, 158, 0.637);
    }
    border-top: 2px solid rgba(255, 0, 64, 0.288);
    border-bottom: 2px solid rgba(250, 0, 62, 0.404);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(165, 165, 165, 0.401);
    transition: border-buttom 0.3s;
    transition: transform 0.4s;
    &:hover {
        box-shadow: 8px 8px 11px rgba(255, 59, 131, 0.306);
    }
}

.grid {
    margin: 8px;
    display: flex;
    justify-content: center;
}

.btn-primary {
    z-index: 1;
    right: 25%;
    left: 25%;
    position: absolute;
    bottom: -20px;
    width: 50%;
    margin-top: 5px;
    background-color: rgb(255, 0, 72);
    border: 0px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 1px 1px 16px rgb(248, 115, 170);
    &:hover {
        background-color: rgb(172, 0, 37);
    }
}

@media only screen and( mac-width:624px) {
    .card {
        img {
            width: 4rem;
        }
        flex-direction: row;
        margin-bottom: 0.3rem;
    }
}