<div class="main container">

    <div class=" container p-4 ">
        <div class="row p-4 starter ">
            <h3>{{"Resoures" | uppercase}}</h3>
        </div>
        <div class="row my-5 d-flex justify-content-center">

            <div class="card">
                <div class="grid">
                    <img src="../../../assets/icon/o2.png" alt="">
                </div>
                <h3>Oxygen Suppliers</h3>
                <div class="grid img">
                    <button class="btn btn-primary">Check It</button>
                </div>
            </div>
            <div class="card ">
                <div class="grid">
                    <img src="../../../assets/icon/hospital.png" alt="">
                </div>
                <h3>Hospitals</h3>
                <div class="grid img">
                    <button class="btn btn-primary" [routerLink]="['/hospitals']" routerLinkActive="router-link-active" href="/hospitlals">Check It</button>
                </div>
            </div>

            <div class="card ">
                <div class="grid">
                    <img src="../../../assets/icon/ambulance.png" alt="">
                </div>
                <h3>Ambulance</h3>
                <div class="grid img">
                    <button class="btn btn-primary">Check It</button>
                </div>
            </div>


            <div class="card">
                <div class="grid">
                    <img src="../../../assets/icon/helpline.png" alt="">
                </div>
                <h3>Emergency</h3>
                <div class="grid img">
                    <button class="btn btn-primary">Check It</button>
                </div>
            </div>


            <div class="card ">
                <div class="grid">
                    <img src="../../../assets/icon//home-delivery.png" alt="">
                </div>
                <h3>Medicine</h3>
                <div class="grid img">
                    <button class="btn btn-primary">Check It</button>
                </div>
            </div>


            <div class="card ">
                <div class="grid">
                    <img src="../../../assets/icon/charity.png" alt="">
                </div>
                <h3>volunteers</h3>
                <div class="grid img">
                    <button class="btn btn-primary">Check It</button>
                </div>
            </div>


            <div class="card ">
                <div class="grid">
                    <img src="../../../assets/icon/syringe.png" alt="">
                </div>
                <h3>Vaccination</h3>
                <div class="grid img">
                    <button class="btn btn-primary">Check It</button>
                </div>
            </div>


        </div>
    </div>
</div>