.starter {
    h3 {
        text-align: center;
        color: rgb(253, 103, 103);
        text-shadow: 2.4px 2.4px 10px rgb(255, 174, 174);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(248, 139, 139);
}

img {
    width: 7rem;
}

.card {
    margin: 0.6rem;
    width: 18rem;
    display: flex;
    padding: 1rem;
    border: 2px solid rgb(255, 170, 194);
    background-color: rgb(243, 243, 243);
    transition: 0.6s;
    h3 {
        color: gray;
        text-align: center;
        font-size: 20px;
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 2.4px 2.4px 10px rgb(250, 132, 132);
    }
}

.grid {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin-top: 5px;
    background-color: rgb(255, 0, 72);
    border: 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 1px 1px 16px rgb(248, 115, 170);
    &:hover {
        background-color: rgb(172, 0, 37);
    }
}

@media only screen and( mac-width: 900px) {
    .card {
        flex-direction: row;
    }
}