<div class="main container">
    <div class="row">
        <div class=" p-4 starter">
            <h3>{{"Vaccination" | uppercase}}</h3>
        </div>
        <div class="row flex">
            <div class="col-md-5 ">
                <div class="vac-img p-4">
                    <img src="../../../assets/raw/vacine.png" alt="">
                </div>
            </div>
            <div class=" col-md-5 p-2 ">
                <div class=" banner">
                    <h1>Do the <span style="color: rgb(60, 179, 0)">Vaccination</span> First</h1>
                    <button class="btn btn-primary mb-5">Vaccination Center</button>
                </div>

            </div>
        </div>
    </div>
</div>