.main {
    background-color: rgb(255, 255, 255);
}

.vac-img {
    img {
        width: 100%;
        filter: drop-shadow( 5px 5px 10px rgb(180, 194, 238));
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    h1 {
        color: rgb(103, 103, 103)
    }
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    align-items: center;
    justify-content: center;
}

.btn-primary {
    width: 15rem;
    margin-top: 5px;
    background-color: rgb(255, 0, 72);
    border: 0px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 1px 1px 16px rgb(248, 115, 170);
    &:hover {
        background-color: rgb(172, 0, 37);
    }
}

.starter {
    max-width: 20rem;
    h3 {
        text-align: center;
        color: rgb(0, 61, 105);
        text-shadow: 2.4px 2.4px 6px rgb(158, 187, 255);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(139, 215, 248);
}