<footer class="main container-fluid">
    <div class="container">
        <div class="row p-4">
            <div class="col-md-4">
                <h5 class="mx-4">Resources</h5>
                <ul class="list">
                    <li class="list-item">
                        <fa-icon [icon]='leftArrow'></fa-icon> Contact Us
                    </li>
                    <li class="list-item">
                        <fa-icon [icon]='leftArrow'></fa-icon> <a> Emergency</a></li>
                    <li class="list-item">
                        <fa-icon [icon]='leftArrow'></fa-icon> Bed Availability</li>
                    <li class="list-item">
                        <fa-icon [icon]='leftArrow'></fa-icon> Oxygen Center</li>
                    <li class="list-item">
                        <fa-icon [icon]='leftArrow'></fa-icon> Ambulences</li>
                    <li class="list-item">
                        <fa-icon [icon]='leftArrow'> </fa-icon>
                        Donate
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row p-1">
                    <div class="col-md-6">
                        <h4 class="tag">Covid-19 helpDesk</h4>
                        <p>Kolkata <br> WestBengal, India</p>

                        <p>
                            <fa-icon [icon]='mailicon'></fa-icon>
                            <a class="gmail">  exapmle@gmail.com</a>
                        </p>

                    </div>

                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <div class="col-md-12 text-center"> Developed By <span>Abhishek Das</span></div>
        </div>
    </div>
</footer>