.main {
    background-color: rgb(255, 47, 99);
    color: white;
    border-radius: 20px 20px 0px 0px;
    box-shadow: -5px -5px 16px rgba(255, 22, 88, 0.387);
}

.list {
    margin: 0.1rem;
    list-style: none;
    .list-item {
        margin-top: 0.3rem;
        font-weight: 500;
        font-family: sans-serif;
        color: rgb(253, 253, 253);
        cursor: pointer;
        transition: 0.3s;
        align-items: center;
        font-size: 18px;
        &:hover {
            color: rgba(59, 59, 59, 0.734);
            text-shadow: 2px 2px 4px rgb(255, 78, 78);
            fa-icon {
                color: rgb(69, 69, 69);
            }
        }
        fa-icon {
            transition: 0.3s;
            color: rgb(255, 255, 255);
        }
    }
}

.gmail {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.tag {
    color: rgb(27, 27, 27);
    text-shadow: 1px 1px 6px rgb(246, 104, 128);
}